element.style {
    : ;
}
div {
    display: block;
}
body {
    background: linear-gradient(to right, #e4db31, #b09194);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    color: -internal-root-color;
}